@charset "utf-8";
*{margin: 0;
padding: 0;
box-sizing: border-box;}
.container {
    width: 100%;
} 

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d8d8d8;
}

.about {
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header {
    width: 100%;
    background-color: #5b0a0a;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 90px;
    height: auto;
    margin-right: 15px;
}


.menubar {
    margin-left: auto; 
    display: flex;
    gap: 25px;
}

.menubar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.header h2 {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


@media (max-width: 768px) {
    .photos {
        grid-template-columns: repeat(2, 1fr);
    }
}

.pie_de_pagina {
    background-color: #5b0a0a;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

.redes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes img {
    width: 32px;
    height: 32px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    margin-left: auto;
}


@media (max-width: 768px) {

    .menubar {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

