@charset "utf-8";
*{margin: 0;
padding: 0;
box-sizing: border-box;}
.container {
    width: 100%;
} 

.header {
    width: 100%;
    background-color: #5b0a0a; /* vino */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Cámara + h2 alineados a la izquierda */
.logo img {
    width: 90px;
    height: auto;
    margin-right: 15px; /* acerca el h2 a la cámara */
}

/* Pone el menú al lado derecho */
.menubar {
    margin-left: auto; 
    display: flex;
    gap: 25px;
}

.menubar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Estilo del nombre */
.header h2 {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; /* pegadas */
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Responsive: celular */
@media (max-width: 768px) {
    .photos {
        grid-template-columns: repeat(2, 1fr);
    }
}

.pie_de_pagina {
    background-color: #5b0a0a;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

.redes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes img {
    width: 32px;
    height: 32px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    margin-left: auto;
}

/* Vista móvil */
@media (max-width: 768px) {

    .menubar {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

